<%- include('./partials/header', {title: 'QQQQQQ'}) %>

<div id="main">
    <p>rrrrrrrrrrrr</p>
    <a href="/">TOP</a>
</div>

<script src="js/main.js"></script>

<%- include('./partials/footer') %>